body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body *{
	font-family: sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.wrap{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns:10% 1fr 10%;
	grid-template-rows: 64px 1fr 40px;
	overflow-x: hidden;
}
header{	
grid-area: 1/1/2/4;
background: white;
line-height:64px;
padding-right: 10%;
padding-left: 10%;
color: black;
border-bottom: 1px solid black;
box-sizing: border-box;
}
.logo{
	display: inline-block;
	font-size: 34px;
	font-weight: bold;
}
.logo:hover{
	cursor: pointer;
}

.menu{
    float: right;
}
.menu li{
	display: inline-block;
	list-style: none;
	cursor: pointer;
	padding: 0 20px;
	transition: all 0.5s ease 0s
}
.menu li a{
	font-size: 26px;
}

footer{
	border-top: 1px solid black;
	grid-area: 3/1/4/4;
	line-height:40px;
	padding: 0;
}
footer p{
	margin: 0;
	color: black;
	text-align: center;
	font-style: 22px;
	line-height: 1.5;
}
main{
	grid-area: 2/2/3/3; 
	padding: 30px 0px;
	}
main h2{
	font-size: 36px;
	margin-bottom: 10px;
	text-align: left;
	margin-top: 40px;
}
main p{
	font-size: 28px;
	text-align: justify;
	line-height: 1.5;
}
main img{
	box-sizing: border-box;
	width: 600px;
	filter: grayscale(100%);
	}
main h2:nth-child(1){
	margin-top: 0px;
}
.news .block img, .news .block h3{
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}
.news .block h3{
	font-size: 34px;
	margin-top: 5px;
	margin-bottom: 25px;
}
.block{
	cursor: pointer;
}
h1{
	font-size: 40px;
	text-align: center;
	margin: 20px;
}
span{
	font-size: 28px;
}