body{
	margin: 0;
	padding: 0;
	background: #fbe9e7;
}
body *{
	font-family: serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.wrap{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns:10% 1fr 10%;
	grid-template-rows: 64px 1fr 40px;
	overflow-x: hidden;
}
header{	
grid-area: 1/1/2/4;
background: #ef5350;
line-height:64px;
padding-right: 10%;
padding-left: 10%;
color: white;
box-shadow: 0 0px 8px 0 black;
box-sizing: border-box;
}
.logo{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
}
.logo:hover{
	cursor: pointer;
	text-decoration: underline;
}

.menu{
    float: right;
}
.menu li{
	display: inline-block;
	list-style: none;
	font-size: 16px;
	padding: 0 20px;
	transition: all 0.5s ease 0s
}
.menu li:first-child{
	margin-right: -5px;
}
.menu li:nth-child(2){
	margin-right: -5px;
}
.active{
	background: #e53935;
}
.menu li:hover{
cursor: pointer;
background: #e53935;
}
footer{
	background: #4caf50 ;
	grid-area: 3/1/4/4;
	line-height:40px;
	padding: 0;
}
footer p{
	margin: 0;
	color: white;
	text-align: center;
	font-size: 14px;
}
main{
	grid-area: 2/2/3/3; 
	padding: 30px 0px;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
main h2{
	font-size: 24px;
	margin-bottom: 10px;
	text-align: left;
	margin-top: 40px;
}
main p{
	float: left;
	margin-right: 25px;
	font-size: 18px;
	width: 350px;
	text-align: justify;
}
main img{
	box-sizing: border-box;
	width: 300px;
	border: 2px solid #4caf50 ;
}
main h2:nth-child(1){
	margin-top: 0px;
}
.info{
	grid-column: 1/2; 
}
.news{
	grid-column: 2/3;
	border-left: 3px solid #4caf50;
}
.news .block img, .news .block h3{
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}
.news .block h3{
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 25px;
}
.block{
	cursor: pointer;
}